#top {
  display: flex;
  text-align: center;
  justify-content: center;
}

h1 {
  text-align: center;
  padding-bottom: 0px;
  padding-top: 30px;
  padding-left: 23px;
  font-family: 'Monoton', cursive;
}
